#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div {
    display: flex;
    align-items: center;
}